:root {
  --font-size: 1rem;

  /* Main colors*/
  --bg-black: #0a0a0a;
  --neon-green: #00ff88;
  --cyan: #38bdf8;
  --pink: #f472b6;
}

body {
  background-color: var(--bg-black);
  color: white;
}
